
body{
    margin-top: 15em;

    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); /* Chrome 10-25, Safari 5.1-6 */
}

h1 { 
    font-size: 5em; 
    font-family: 'Do Hyeon', sans-serif;
    color: white;
    text-align: center;
}

input {
    background: transparent;
    position: relative;
    display: block;
    outline: none;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    padding: 10px;
    font-size:20px;
    color: white;
    border: white 1px solid;
}
