* {
    margin: 0;
    padding: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

ul {
    list-style: none;
}


.contact-btn {
    position: absolute;
    right: 2%;
    bottom: 20px;
    z-index: 9999;
    position: fixed;

    border: none;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.3);
    width: 120px;
    padding: 12px 0;
    border-radius: 40px;
    font-weight: bolder;
    transition: 0.3s;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background-color: #007bfc;
        color: #fff;
    }
}


header {
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    background-color: white;

    .navigation {
        max-width: 1175px;
        height: 72px;
        display: flex;
        justify-content: center;
        margin: 0 auto;

        .logo-img {
            display: flex;
            align-items: center;

            img {
                height: 36px;
            }
        }
    }
}


.index-page {
    max-width: 1175px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}


.index-page-title {
    font-size: 50px;
    font-weight: 500;
    color: white;
}

.index-page-sub-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    line-height: 1.5;
    color: rgba($color: #fff, $alpha: 0.6);
}

.index-page-button {
    width: 280px;
    height: 64px;
    line-height: 64px;
    font-size: 18px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(236deg, #007bfc 115%, #8995fe -15%);
    text-align: center;
    border: none;
}

.index-page-dark {
    background-image: linear-gradient(236deg, #111111 115%, #222222 -15%);
}


.first-section {

    background-image: url("../images/first-image.jpg");
    height: 800px;
    background-position: center;

    .index-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

}

.index-page-info-title {
    padding-top: 80px;
    font-size: 36px;
    margin-bottom: 100px;
    font-weight: 700;
}

.second-setcion {
    background-color: #FBFAFA;

    .product-info {
        display: flex;
        justify-content: space-between;
        padding-bottom: 140px;

        img {
            width: 240px;
            height: 240px;
        }
    }

    p.index-page-info-sub-title {
        margin-top: 24px;
        text-align: center;
        font-size: 18px;
        line-height: 1.5;
    }

}

.third-setcion {

    .third-product-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 80px;

    }

    .third-proudct-images {
        width: 460px;
        height: 320px;
        margin-right: 60px;

        img {
            border-radius: 12px;
        }
    }

    .third-text-title {
        margin: 24px 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 1.5;
    }

    .third-text-sub-title {
        color: #525666;
        font-size: 18px;
        line-height: 1.5;

    }
}

.fourth-setcion {
    position: relative;
    background-color: #FBFAFA;

    .index-page-title {
        font-weight: 700;
        color: #2E7BFC;
    }

    .index-page-sub-title {
        color: #525666;
    }

    .text-container {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    .index-page-slider {
        position: relative;
        padding-bottom: 80px;
        overflow-x: hidden;

        .slider-first,
        .slider-second {
            width: calc(365px * 10);
            display: flex;
            gap: 24px;
        }

        .slider-first {
            animation: scroll 60s linear infinite alternate;
        }

        .slider-second {
            position: absolute;
            top: 0%;
            animation: scroll2 60s linear infinite alternate;
            margin-left: -149px;
        }

        img {
            border-radius: 12px;
        }
    }


    @keyframes scroll {
        0% {
            transform: translate(0)
        }

        100% {
            transform: translate(-100%)
        }
    }

    @keyframes scroll2 {
        0% {
            transform: translate(100%)
        }

        100% {
            transform: translate(0%)
        }
    }

}

.fifth-setcion {
    background-image: url("../images/fifth-image.jpg");
    height: 460px;
    background-position: center;

    .index-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .index-page-title {
        font-size: 36px;
    }

    .index-page-sub-title {
        font-size: 20px;
    }

}

footer {
    border-top: 1px solid #dadce0;

    .footer-content {
        padding: 60px 20px;
        max-width: 1175px;
        margin: 0 auto;
        color: #828c94;
    }

    .footer-company-name {
        font-size: 18px;
        font-weight: 600;
        color: #3f474d;
        margin-bottom: 16px;
    }

    .footer-info {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .footer-contact {
        display: flex;
        gap: 16px;

        li {

            a {
                text-decoration: none;
                color: #828c94;
            }

            &:first-child {
                font-weight: bolder;
            }
        }
    }
}





@media (max-width: 767px) {


    .index-page-title {
        font-size: 36px;
    }

    .index-page-button {
        width: 100%;
    }

    .index-page-dark {
        width: 180px;
    }

    .first-section {

        background-image: url("../images/m-first-image.jpg");
        height: 800px;
        background-position: center;
    }

    .index-page-info-title {
        padding-top: 80px;
        font-size: 28px;
    }

    .second-setcion {

        .product-info {
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;

            img {
                margin: 0 auto;
                display: block;
            }
        }

        .product-content {
            margin-bottom: 60px;
        }
    }


    .third-setcion {

        .third-product-info {
            display: flex;
            flex-direction: column;
            margin-bottom: 80px;
        }

        .third-proudct-images {
            width: 100%;
            height: 100%;
            margin-right: 0;

            img {
                width: 100%;
            }
        }

        .third-text-title {
            font-size: 22px;
        }

        .third-text-sub-title {
            font-size: 16px;
        }
    }

    .fifth-setcion {
        background-image: url("../images/m-fifth-image.jpg");

        .index-page-title {
            font-size: 24px;
        }

        .index-page-sub-title {
            font-size: 16px;
        }
    }


    footer {
        border-top: 1px solid #dadce0;

        .footer-contact {
            display: flex;
            flex-wrap: wrap;
        }
    }
}