* {
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

ul {
  list-style: none;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}

header .navigation {
  max-width: 1175px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

header .navigation .logo-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navigation .logo-img img {
  height: 36px;
}

.index-page {
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.index-page-title {
  font-size: 50px;
  font-weight: 500;
  color: white;
}

.index-page-sub-title {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.6);
}

.index-page-button {
  width: 280px;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(236deg, #007bfc 115%, #8995fe -15%);
  text-align: center;
  border: none;
}

.index-page-dark {
  background-image: linear-gradient(236deg, #111111 115%, #222222 -15%);
}

.first-section {
  background-image: url("../images/first-image.jpg");
  height: 800px;
  background-position: center;
}

.first-section .index-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.index-page-info-title {
  padding-top: 80px;
  font-size: 36px;
  margin-bottom: 100px;
  font-weight: 700;
}

.second-setcion {
  background-color: #FBFAFA;
}

.second-setcion .product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 140px;
}

.second-setcion .product-info img {
  width: 240px;
  height: 240px;
}

.second-setcion p.index-page-info-sub-title {
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
}

.third-setcion .third-product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 80px;
}

.third-setcion .third-proudct-images {
  width: 460px;
  height: 320px;
  margin-right: 60px;
}

.third-setcion .third-proudct-images img {
  border-radius: 12px;
}

.third-setcion .third-text-title {
  margin: 24px 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.third-setcion .third-text-sub-title {
  color: #525666;
  font-size: 18px;
  line-height: 1.5;
}

.fourth-setcion {
  position: relative;
  background-color: #FBFAFA;
}

.fourth-setcion .index-page-title {
  font-weight: 700;
  color: #2E7BFC;
}

.fourth-setcion .index-page-sub-title {
  color: #525666;
}

.fourth-setcion .text-container {
  padding-top: 80px;
  padding-bottom: 120px;
}

.fourth-setcion .index-page-slider {
  position: relative;
  padding-bottom: 80px;
  overflow-x: hidden;
}

.fourth-setcion .index-page-slider .slider-first,
.fourth-setcion .index-page-slider .slider-second {
  width: calc(365px * 10);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.fourth-setcion .index-page-slider .slider-first {
  -webkit-animation: scroll 60s linear infinite alternate;
          animation: scroll 60s linear infinite alternate;
}

.fourth-setcion .index-page-slider .slider-second {
  position: absolute;
  top: 0%;
  -webkit-animation: scroll2 60s linear infinite alternate;
          animation: scroll2 60s linear infinite alternate;
  margin-left: -149px;
}

.fourth-setcion .index-page-slider img {
  border-radius: 12px;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
}

@-webkit-keyframes scroll2 {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes scroll2 {
  0% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  100% {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

.fifth-setcion {
  background-image: url("../images/fifth-image.jpg");
  height: 460px;
  background-position: center;
}

.fifth-setcion .index-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.fifth-setcion .index-page-title {
  font-size: 36px;
}

.fifth-setcion .index-page-sub-title {
  font-size: 20px;
}

footer {
  border-top: 1px solid #dadce0;
}

footer .footer-content {
  padding: 60px 20px;
  max-width: 1175px;
  margin: 0 auto;
  color: #828c94;
}

footer .footer-company-name {
  font-size: 18px;
  font-weight: 600;
  color: #3f474d;
  margin-bottom: 16px;
}

footer .footer-info {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}

footer .footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

footer .footer-contact li a {
  text-decoration: none;
  color: #828c94;
}

footer .footer-contact li:first-child {
  font-weight: bolder;
}

@media (max-width: 767px) {
  .index-page-title {
    font-size: 36px;
  }
  .index-page-button {
    width: 100%;
  }
  .index-page-dark {
    width: 180px;
  }
  .first-section {
    background-image: url("../images/m-first-image.jpg");
    height: 800px;
    background-position: center;
  }
  .index-page-info-title {
    padding-top: 80px;
    font-size: 28px;
  }
  .second-setcion .product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .second-setcion .product-info img {
    margin: 0 auto;
    display: block;
  }
  .second-setcion .product-content {
    margin-bottom: 60px;
  }
  .third-setcion .third-product-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px;
  }
  .third-setcion .third-proudct-images {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
  .third-setcion .third-proudct-images img {
    width: 100%;
  }
  .third-setcion .third-text-title {
    font-size: 22px;
  }
  .third-setcion .third-text-sub-title {
    font-size: 16px;
  }
  .fifth-setcion {
    background-image: url("../images/m-fifth-image.jpg");
  }
  .fifth-setcion .index-page-title {
    font-size: 24px;
  }
  .fifth-setcion .index-page-sub-title {
    font-size: 16px;
  }
  footer {
    border-top: 1px solid #dadce0;
  }
  footer .footer-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */